    <div class="container">
    <div class="row">
    <section class="card col-md-8 col-lg-8">
        <div class="card-title mx-auto">
            <h1>Objectives</h1>
        </div>

        <div class="card-body">
            <p>This software have the purpose to simulate a simple screening form control software.</p>
            <p>Train the required skill to design models, views, services and routes.</p>
            <p>A web system that provides the CRUD operations.</p>
            
            <h4>Contact Me:</h4>
            <p><i class="fas fa-phone-alt"></i> +55 11 977640744</p>
            <p><i class="fas fa-inbox"></i> igormarinholeo2014@gmail.com</p>
            <p><i class="fab fa-github-square"></i> github.com/igormarinho98</p>
            

        </div>
        
    </section>

    <section class="card col-md-4 col-lg-4">
        <div class="card-title mx-auto">
            <h1>Stack</h1>
        </div>
        
        <div class="card-body">
            <li class="list-group">
                <ul class="list-group-item list-group-item-primary">Node Js<i class="fab fa-2x fa-node-js ml-2"></i></ul>
                <ul class="list-group-item list-group-item-primary">Express Js<i class="fab fa-2x fa-js ml-2"></i></ul>
                <ul class="list-group-item list-group-item-primary">Mongo DB<i class="fas fa-2x fa-database ml-2"></i></ul>
                <ul class="list-group-item list-group-item-primary">Bootstrap 4<i class="fab fa-2x fa-bootstrap ml-2"></i></ul>
                <ul class="list-group-item list-group-item-primary">Font Awesome 5<i class="fab fa-2x fa-font-awesome-flag ml-2"></i></ul>
            </li>
        </div>
        
    </section>


 </div>
 </div>